SEA_ROBOT_CONFIG_DIR=./config
SEA_ROBOT_LOG_DIR=./logs
SEA_ROBOT_SIMULATION=1
SEA_ROBOT_MAVLINK_CONNECTION=/dev/ttyACM0
SEA_ROBOT_MAVLINK_BAUD=115200
SEA_ROBOT_FRONT_CAMERA=0
SEA_ROBOT_SUCTION_CAMERA=1
SEA_ROBOT_MODEL_PATH=../YOLO11_LBL.bin
